html, body {
	margin: 0;
	background-color: darkslategray;
	color: lemonchiffon;
	font: 12pt sans-serif;
	text-align: center;
}

form {
	padding: 1rem;
}

form fieldset {
	margin: 0;
	padding: 0;
	border: 0px hidden transparent;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

form fieldset legend {
	display: inline;
	font-weight: bold;
}

form fieldset > label {
	padding: 0;
	margin: 0.25rem 1rem;
}

form #algorithm {
	font-size: 1.5rem;
	display: block;
	margin: 0.25em auto;
}

form [type=submit], form [type=reset], form [type=button] {
	margin-block: 0.25rem 1rem;
	width: 8em;
}

main svg {
	width: min(65vw, calc(65vh * 16/9));
	height: min(calc(65vw * 9/16), 65vh);
	display: block;
	margin: auto;
	background-color: black;
}

main svg #visuals {
	fill: white;
}

main svg #visuals * {
	transition: x 0.5s, fill 0.5s;
}

main svg #visuals .done {
	fill: green;
}

main svg #visuals .aux {
	fill: yellow;
}

main svg #visuals .focus {
	fill: red;
}

aside {
	margin: 1rem;
}

.yes::after {
	content: "✓";
	color: greenyellow;
}

.no::after {
	content: "✗";
	color: red;
}
